<div class="container">
    <h4>Home</h4>
    <div class="links mt-5">
        <%= link_to "About", about_path, class:"btn btn-info px-4"%>
        <%= link_to "Posts", posts_path, class:"btn btn-info mx-2 px-4"%>   
    </div>
</div>



