<% dragActions = "dragstart->drag#dragStart
                    dragover->drag#dragOver
                    dragenter->drag#dragEnter
                    drop->drag#drop
                    dragend->drag#dragEnd " %>

<%= content_tag(:div, class:"bi bi-grip-vertical draggable", draggable: true, data: {
    controller: "drag",
    action: dragActions,
    resource_id: project.id,
    url: "/drag/project",
    parent: "projects",
}) do %>
    <%= render project %>
    <div class="row">
    <%= link_to "Show this project", project, class:"btn btn-outline-secondary mt-3 mb-5" %>
    <hr/>
    </div>
<% end %>

