<div id="<%= dom_id project %>" class="mx-3">
  <div class="row mt-3 mb-3">
    <div class="col-sm-5">
      <h4>Title : <%=  project.title %></h4>
    </div>
    <div class="col-sm-7 ">
      <h5>Link : <%= link_to project.link, project.link %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-justify">
      <%= project.body %>
    </div>
  </div>
  <hr/>
</div>
