<div class="mb-4 mx-3">
  <h1>Projects</h1>
</div>

<div class="card mb-5" id="projects">
  <% @projects.each do |project| %>
    <% if current_user&.admin? %>
      <%= render "projects/draggable", project: project %>
    <% else %>
      <div class="card-body">
        <div class="card-text">
          <%= render project %>
          <div class="d-flex flex-column mt-3 mb-3 mx-2">
            <%= link_to "Show this project", project, class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>