<p style="color: green"><%= notice %></p>
<div class="container">

<div class="card mt-3">
  <div class="card-header">
    <h3>Posts</h3>
    <%= link_to "New post", new_post_path, class:"btn btn-info mt-2 mb-2 py-2 px-5" %>
  </div>
</div>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>
